
.list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
    font-weight: 900;
    color: rgb(197, 13, 13);
    width: 1200px;
    
}
.list a{
    text-decoration: none;
}
.list li:nth-child(1) {
    color: rgb(197, 13, 13);
    font-size: 30px;
    font-weight: 999;
    margin-left: 50px;
}
.menu{
    position: absolute;
}
.orange{
    width:700px;
    height: 700px;
    border-radius: 10px;
    background-color: orange;
    position: absolute;
    top: 170px;
}
.zdorovie{
    width:600px;
    height: 600px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    left: 600px;
    top: 350px;
    border-radius: 20px;
}
.blue{
    width: 500px;
    height: 350px;
    border-radius: 20px;
    background-color: rgb(22, 71, 232);
    position: absolute;
    z-index: 2;
    left: 250px;
    top: 270px;
}
/* .text{
    background-color: rgb(135, 222, 164);
    width: 500px;
    height: 400px;
    position: absolute;
    font-size: 50px;
    color: black;
} */
p{
    color: rgb(240, 126, 97);
    font-size: 24px;
    padding: 20px;
}
h1{
    font-size: 50px;
    color: white;
    padding: 20px;
}
.first,.second,
.third,.fourth{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(229, 244, 255);
    position: absolute;
    z-index: 1;
    top: 850px;
}
.first{
    left: 130px;
}
.second{
    left: 380px;
}
.third{
    left: 630px;
}
.fourth{
    left: 880px;
}
.eda,.event,
.psiho,.ves{
    width: 100px;
    height: 100px;
}
.first p,
.second p,
.third p,
.fourth p{
    font-size: 12px;
    color: black;
}
.first h3,
.second h3,
.third h3,
.fourth h3{
   text-align: center;
}


@media(max-width:1200px){
    .blue{
        width: 400px;
        height: 300px;
        font-size: 10px;
}
.first,.second,
.third,.fourth{
    width: 200px;
    height: 300px;
}
.menu{
    font-size: 14px;
    /* word-spacing: 10px; */
}
}